body {
    background-color: blueviolet;
    }
  

nav{
    background-color: black;
}



ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none ;
    align-items: center;
    padding: 25px;
    
}


img{
    width: 700px;
    height: 700px;
    border-radius: 50%;
    border: 10px solid blueviolet;
}
.center{
    text-align: center;
}
h1{
    color: blueviolet;
    text-align: center;
}
h2{
    color: blueviolet;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}